@import "../../utils/vars";

.card {
  width: 100%;
  height: 100%;
  display:  flex;
  justify-content: center;
  align-items: center;
  background-color: $mainElementColor;

  &__title {
    font-size: 36px;
    line-height: 42px;
    color: $mainTextColor;
  }
}